@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
/*next 2 lines are added by me to change the view to column flex*/
  display: flex;
  flex-direction: column;
  
}

img {
  width: 600px;

/*added by me*/
  margin-bottom: 12px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  /*added by me*/
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*my solution*/
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  display: inline-flex;
  gap: 30px;
  
}

ul.left-links{
  padding-left: 0;
  padding-right: 40px;
}

.header, .footer{
  padding: 10px 30px;
  height: 30px;
  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #eee;
}

.content{

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}